html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.chat {
    background-color: rgb(#ff6a00);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.text {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: darkorange;
}
.sendButton {
    background-color: #ff6a00;
    color: white;
    border: none;
    text-align: left;
    padding-left: 5px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}
.sendButton:hover{
    opacity: 0.8;
}
.sendButton:active{
    opacity: 0.6;
}

.space {
    text-align: center;
}
.chatSpace {
    margin-top: 50px;
    background-color: darkorange;
    color: white;
}